<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="bootstrap-datetimepicker.min.js">
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width">
    <meta charset="UTF-8">
    <title>添加车次</title>

</head>
<body class="w-100">
<div class="row w-100 p-0 ">
    <div class="col justify-content-start ">
        <a href="#"><img src="../static/image/微信截图_20200404211502.png" style="height: 5rem"></a>
    </div>
    <div class="col btn-group justify-content-end align-items-center">

    </div>
</div>
<div class="nav nav-tabs justify-content-center w-100 p-0 bg-primary">
    <li class="nav-item text-white"><a class="nav-link text-white" th:href="@{/trains}">车次表</a></li>
    <li class="nav-item active text-white"><a class="nav-link text-white" href="#">用户表</a></li>
</div>
<div>
    <div class="container">
        <div  class="mx-auto" style="width: 600px;">
            <form th:action="@{/train}" method="post">
                <input type="hidden" name="_method" value="put" th:if="${train!=null}"/>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">列车类型</label>
                    <select name="trainTypeId" class="form-control" id="exampleFormControlSelect1">
                        <option th:selected="${train!=null}?${train.trainId}" th:each="trainType:${trainTypes}" th:value="${trainType.trainTypeId}" th:text="${trainType.trainTypeId}"></option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">起始站</label>
                        <select name="startStationid" class="form-control">
                            <option th:selected="${train!=null}?${station.stationId == train.startStationid}" th:each="station:${stations}" th:value="${station.stationId}" th:text="${station.stationName}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">终点站</label>
                        <select name="endStationid" class="form-control">
                            <option th:selected="${train!=null}?${station.stationId == train.endStationid}" th:each="station:${stations}" th:value="${station.stationId}" th:text="${station.stationName}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>发车时间</label>
                        <!--指定 date标记-->
                        <input th:value="${train!=null}?${train.startTime}" type="text" class="form-control datetimepicker" name="startTime"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>到达时间</label>
                        <input th:value="${train!=null}?${train.endTime}" type="text" class="form-control datetimepicker" name="endTime"/>
                    </div>
                </div>
                <div class="form-group">
                    <label >特等座价格</label>
                    <input th:value="${price!=null}?${price.APrice}" name="APrice" class="form-control">
                </div>
                <div class="form-group">
                    <label >一等座价格</label>
                    <input th:value="${price!=null}?${price.BPrice}" name="BPrice" class="form-control">
                </div>
                <div class="form-group">
                    <label >二等座价格</label>
                    <input th:value="${price!=null}?${price.CPrice}" name="CPrice" class="form-control">
                </div>
                <button type="${train==null}?hidden:submit" class="btn btn-primary" th:if="${train!=null}">提交</button>
            </form>
        </div>
    </div>
</div>
<script>
var project_details = {
        minView: 0,
        language:  'zh-CN',
        format: 'yyyy-mm-dd hh:ii',
        //todayBtn:  1,//今日按钮
        autoclose: 1,//选中关闭
        //todayHighlight : 1,
        //forceParse : 1,
    };
    $('.datetimepicker').datetimepicker(project_details);
</script>
</body>
</html>