<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>找回密码</title>
    <!-- Custom styles for this template -->
    <link href="../css/signin.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet" >
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/sendEmail}" method="post">
    <h3 class="h3 mb-3 font-weight-normal">请填写用户名</h3>
    <label class="sr-only"></label>
    <input type="text" name="userName" class="form-control" placeholder="UserName" required="" autofocus="">
    <label class="sr-only"></label>
    <input type="text" name="verify-code" class="form-control" placeholder="验证码" required="" autofocus="">
    <a  href="findpassword" onclick="changeVerifyCode()" ><img id="imgObj" alt="验证码" src="/getVerifyCode"></a>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    <a class="btn btn-link" href="login">返回登录界面</a>
    <p style="color: red" th:text="${session.msgOffindpass}"></p>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    <a class="btn btn-sm">中文</a>
</form>

</body>
<script type="text/javascript">
    function changeVerifyCode() {
        var imgSrc = $("#imgObj");
        var src = imgSrc.attr("src");
        imgSrc.attr("src", chgUrl(src));
    }

    // 时间戳
    // 为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
    function chgUrl(url) {
        var timestamp = (new Date()).valueOf();
        url = url.substring(0, 20);
        if ((url.indexOf("&") >= 0)) {
            url = url + "×tamp=" + timestamp;
        } else {
            url = url + "?timestamp=" + timestamp;
        }
        return url;
    }

</script>
</html>