<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>欢迎进入快乐高铁购票系统</title>
    <!-- Custom styles for this template -->
    <link href="../css/signin.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet" >
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/user/login}" method="post">
    <img class="mb-4" src="../image/微信截图_20200404211502.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <label class="sr-only"></label>
    <input type="text" name="userName" class="form-control" placeholder="UserName" required="" autofocus="">
    <label class="sr-only"></label>
    <input type="password"  name="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">

    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <a class="btn btn-link" href="register">立即注册</a>
    <p style="color: red" th:text="${session.msgOfLogin}" th:if="${not #strings.isEmpty(session.msgOfLogin)}"></p>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    <a class="btn btn-sm">中文</a>
</form>

</body>

</html>