<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width">
    <title>支付页面</title>
</head>
<body class="w-100">
<div class="row w-100 p-0 ">
    <div class="col justify-content-start ">
        <a href="#"><img src="../image/微信截图_20200404211502.png" style="height: 5rem"></a>
    </div>
    <div class="col btn-group justify-content-end align-items-center">
        <div class="row">
            <a class="col" href="#">登录</a>
            <a class="col" href="#">注册</a>
        </div>
    </div>
</div>
<div class="nav nav-tabs justify-content-center w-100 p-0 bg-primary">
    <li class="nav-item text-white"><a class="nav-link text-white" href="#">首页</a></li>
    <li class="nav-item active text-white"><a class="nav-link text-white" href="#">车票</a></li>
</div>
<div class="container">
    <div class="card flex-column">
        <div class="card-body m-0">
            <div class="card-header bg-primary text-white">订单信息</div>
        </div>
        <form th:action="@{/submitPay}" method="post">
        <table class="table ">
            <thead class="text-center">
            <tr>
                <th>序号</th>
                <th>座位号</th>
                <th>等级</th>
                <th>姓名</th>
                <th>证件类型</th>
                <th>证件号码</th>
                <th>手机号码</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <td class="tcel">1</td>
                <td class="tcel" th:text="${ticketType}">
                    成人票
                </td>
                <td class="tcel" th:text="${seatTypeNo}">
                   A001
                </td>
                <td class="tcel" th:text="${name}">
                    马卡斯
                </td>
                <td class="tcel" th:text="${identityType}">
                    居民身份证
                </td>
                <td class="tcel" th:text="${identityNum}">
                    xxxxx
                </td>
                <td class="tcel" th:text="${phone}">
                   xxxxx
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning text-white">支付订单</button>
        </div>
        </form>
    </div>
</div>
</body>
</html>
