<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="css/register.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="jquery-3.4.1/jquery-3.4.1.js"></script>
		<script type="text/javascript" src="js/register.js"></script>
	<script>
		// function isCardNo() {
		// 	var pattern = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
		// 	// console.log($("#identityNum").val());
		// 	// console.log(pattern.test($("#identityNum")));
		// 	if (pattern.test($("#identityNum").val())){
		// 		$('#identityInfo').css("color","green");
		// 		data="√";
		// 	}else {
		// 		$('#identityInfo').css("color","red");
		// 		data="请输入正确身份证号";
		// 	}
		// 	$('#identityInfo').html(data);
		// }
		// function checkPassword() {
		// 	var pattern = /^[0-9]{1,20}$/;
		// 	// console.log($("#password").val());
		// 	// console.log(pattern.test($("#password")));
		// 	if (pattern.test($("#password").val())){
		//
		// 		$('#passwordInfo').css("color","green");
		// 		data="√";
		// 	}else {
		// 		$('#passwordInfo').css("color","red");
		// 		data="请输入正确格式的密码";
		// 	}
		// 	$('#passwordInfo').html(data);
		// }
		// function checkRepwd() {
		//
		// 	console.log($("#password").val());
		// 	console.log($("#repassword").val());
		// 	if ( $("#password").val()===$("#repassword").val()){
		// 		$('#repasswordInfo').css("color","green");
		// 		data2="√";
		// 	}else {
		// 		$('#repasswordInfo').css("color","red");
		// 		data2="请再次确认密码";
		// 	}
		// 	$('#repasswordInfo').html(data2);
		// }
		// function checkemail() {
		// 	var pattern = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
		// 	console.log($("#email").val());
		// 	console.log(pattern.test($("#email")));
		// 	if (pattern.test($("#email").val())){
		// 		$('#emailInfo').css("color","green");
		// 		data="√";
		// 	}else {
		// 		$('#emailInfo').css("color","red");
		// 		data="请输入正确格式的邮箱";
		// 	}
		// 	$('#emailInfo').html(data);
		// }
		// function checkphone() {
		// 	var pattern = /^[1]([3-9])[0-9]{9}$/;
		// 	console.log($("#phone").val());
		// 	console.log(pattern.test($("#phone")));
		// 	if (pattern.test($("#phone").val())){
		// 		$('#phoneInfo').css("color","green");
		// 		data="√";
		// 	}else {
		// 		$('#phoneInfo').css("color","red");
		// 		data="请输入正确格式的手机号";
		// 	}
		// 	$('#phoneInfo').html(data);
		// }
	</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<div class="main">
				 <div class="inset">
				 	<div class="social-icons">
		    			 <div class="span"><i>购票注册 </i><div class="clear"></div></div>
					</div>
				 </div>
				 <form action="/addUser"  method="post" >
		                    <div class="clear"> </div>
		                    <div class="lable-2">
								<input type="text" class="text" id="username" name="username" placeholder="用户名" onfocus="this.value = '';" onblur="checkUsername()">
								<p id="nameInfo"></p>
								<input type="password" class="text" id="password" name="password" placeholder="密码" onfocus="this.value = '';" onblur="checkPassword()">
								<p id="passwordInfo"></p>
								<input type="password" class="text" id="repassword" name="repassword" placeholder="再次确认密码" onfocus="this.value = '';" onblur="checkRepwd()">
								<p id="repasswordInfo"></p>
								<input type="text" class="text" id="email" name="email" placeholder="邮箱" onfocus="this.value = '';" onblur="checkemail()">
								<p id="emailInfo"></p>
								<input type="text" class="text" id="phone" name="phone" placeholder="手机号" onfocus="this.value = '';" onblur="checkphone()">
								<p id="phoneInfo"></p>
								<input type="text" class="text" id="identityNum" name="identityNum" placeholder="身份证号" onfocus="this.value = '';" onblur="isCardNo()">
								<p id="identityInfo"></p>
							</div>
							<div class="clear"> </div>
								 <div class="submit">
									 <button type="submit" id="submit" class="btn btn-success" onclick="f()">提交</button>
								</div>
									<div class="clear"> </div>
				 </form>

	</div>
</body>
</html>